<div class="image">
  <img src="../../../assets/img/empty-plate.jpg">
</div>
<div class="content">
  <a *ngIf="inDay" class="header" [routerLink]="['/day/detail', day.id]">{{menu.title}}</a>
  <p *ngIf="!inDay" class="header">{{menu.title}}</p>
  <div class="meta">
    <img *ngFor="let allergy of allergies" src="../../../assets/img/allergyIcons/{{allergy.iconName}}.png" alt=""
      style="height: 40px;">
  </div>
  <div class="description">
    {{menu.description}}
  </div>
</div>
<div class="extra content">
  <button *ngIf="!inDay" class="blue ui button" [routerLink]="['/menu/edit', menu.id]">Edit</button>
  <button *ngIf="!inDay" class="grey ui button" (click)="deleteMenu()">Delete</button>
  <div *ngIf="inDay">
    <h1 class="ui header center aligned">
      {{day.date | date : 'dd' }}
      <div class="sub header">{{day.date | date : 'MMMM' }} {{day.date | date : 'y' }}</div>
    </h1>
  </div>
</div>
