


    <div class="image">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>
    <div class="content">
      <a class="header">{{menu.title}}</a>
      <div class="meta">
        <span class="date">Allergies not implemented yet</span>
      </div>
      <div class="description">
        {{menu.description}}
      </div>
    </div>
    <div class="extra content">
        <button class="positive ui button" [routerLink]="['/menu/edit', menu.id]">Edit</button>
        <button class="negative ui button"(click)="deleteMenu()">
            Delete
          </button>
    </div>
