<div class="ui blue secondary inverted menu">
  <div class="ui container">
    <div class="header item" [routerLink]="['']">
    Beire Coole Bites
  </div>
  <a class="item" *ngIf="isAdmin" [routerLinkActive]="['active']" [routerLink]="['day/list']">
    Dagen
  </a>
  <a class="item" *ngIf="isAdmin" [routerLinkActive]="['active']" [routerLink]="['menu/list']">
    Menu's
  </a>

  <div class="right menu">
    <a *ngIf="!isAdmin" class="ui item" [routerLinkActive]="['active']" [routerLink]="['auth/login']">
      Login
    </a>
    <a *ngIf="isAdmin" class="ui item"  [routerLink]="['']" (click)="logout()">
      Logout
    </a>
  </div>
  </div>
  
</div>
<ng-content></ng-content>
